.App {
  text-align: center;
  background-color: #282c34;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: red;
  min-height: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.WidgetPen {
  background-color: #282c34;
  padding-top: 20px;
  padding-left: 50px;
  padding-right: 50px;
  display: flex;
}

.widget-shell {
  border: #008000 3px solid;
  width: 200px;
  margin-left: 20px;
  margin-right: 20px;
  color: white
}
.widget-shell .title {
  border-bottom: #008000 3px solid;
}

.App-footer{
  background-color: #282c34;
  min-height: 100vh;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
